@import url('https://fonts.googleapis.com/css2? family= Anton & family= Josefin+Sans:wght@100 & family= Lato:wght@400;700 & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Righteous & display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(rgba(114, 108, 108, 0.8),rgba(20,20,20,1)),url("../imagens/Aline\ Santos-25.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Righteous', sans-serif ;
    height: 100vh;
}

:root {
    --cor1 : #2E3192;
}


header a{
    
}

.modal {
    width: 100%;
    margin: 50px auto;
}

.modal ul {
    display: flex;
    justify-content: center;
    color: white;
    gap: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1em;
    
}

.modal li {
    list-style: none;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.modal li:hover{
    color: #ECB40B;
    transform: scale(1.07);
} 


.title{
    margin: auto;
    width: 600px;
    
}

h1{
    border-bottom: 2px solid #ECB40B;
    line-height: 1.2em;
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 1.8rem;
}


main.principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.title2{
    margin: auto;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
    padding: 10px;
    
}

.t3{
    margin: auto;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px ;
    width: 100%;
    padding: 10px;
}

h2{
    border-bottom: 2px solid #ECB40B;
}


.picture {
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0.678),rgba(6, 2, 27, 0.884)),url("../imagens/IMG_2050.jpg"), no-repeat ;
    background-size: cover;
    color: #fff;
    border: 1px solid ; 
    width: 50vw;
    height:450px;
    border-radius:10px ;
    padding: 10px 10px 10px 10px;
    gap: 20px;
}

















